In [3]:
import sqlalchemy
import pandas as pd
import datetime
import json
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://mikelam:12345678@awssample1.cji0zdy5khnh.us-west-2.rds.amazonaws.com:3306/PortSlate')
engine.connect
conn = engine.connect()

period_now = datetime.date(2019,3,31) + pd.DateOffset(months=0)
period_LTM = period_now - pd.DateOffset(months=12)

data = pd.read_sql_query('select * from v_VehicleAssetList', conn)
idx_LM=((data['Period']<=period_now) & (data['Period']>=period_now))
idx_LTM=((data['Period']<=period_now) & (data['Period']>period_LTM))
idx_Inception=(data['Period']<=period_now)

In [18]:
# Asset List Page
# AssetName
# AssetType
# Acquisition Date
# SquareFeet or Unit
# Occupancy
# Cost
# GAV
# NAV
# LoanBalance
# LTV
# Effective Interest Rate
# Fixed Floating
# Maturity

# IRR Page
# Step 1: Get Acquisition Price
# Step 2: Get Unlevered Cashflow
# Step 3: Get Sale Price
# Step 4: Get Unlevered Fees
# Step 5: Calculate JV Sharing

# Step 6: Get InterestPayment
# Step 7: Get PrincipalPayment
# Step 8: Get Debt Funding
# Step 9: Get Debt Payoff
# Step 10: Calculate Equity Contribution
# Step 11: Calculate Equity Net Proceed
# Step 12: Get Levered Fees
# Step 13: Calculate JV Sharing


# select max(PropertyName), max(PropertyType), max(NCREIF_SubRegion) TransactionDate,
# max(if(UnitNumber is null, SquareFeet, UnitNumber)) as Sqft_Unit,
# max(Occupancy_P), max(Price_USD), max(GAV_P), max(DebtBalanceEnd), Max(DebtBalanceEnd)/max(GAV_P) as LTV,
# (sum(InterestPmt)+sum(InterestHedge))/Avg(DebtBalanceStart), max(RateType), max(MaturityInitial)
# from v_VehicleAssetList
# group by VehicleID, AssetID, TransactionDate, TransactionType

In [6]:
databyAsset=data[idx_Inception].groupby(['VehicleID','AssetID', 'TransactionDate','TransactionType'])

In [13]:
databyAsset= databyAsset.agg({'PropertyName':'max',
                'PropertyType': 'max',
                'NCREIF_SubRegion': 'max',
                'SquareFeet': 'max',
                'UnitNumber': 'max',
                'Occupancy_P':'max',
                'Price_USD':'max',
                'GAV_P': 'max',
                'DebtBalanceEnd':'max',
                'DebtBalanceStart':'mean',
                'InterestPmt':'sum',
                'InterestHedge':'sum',
                'RateType':'max',
                'MaturityInitial':'max'}).reset_index()

In [14]:
databyAsset

,VehicleID,AssetID,TransactionDate,TransactionType,PropertyName,PropertyType,NCREIF_SubRegion,SquareFeet,UnitNumber,Occupancy_P,Price_USD,GAV_P,DebtBalanceEnd,DebtBalanceStart,InterestPmt,InterestHedge,RateType,MaturityInitial
0,1,3,2017-06-01,Acquisition,Asset 3,Office,Northeast,451706.0,NaN,0.790600,1.991089e+08,227033504.0,1.255000e+08,1.211075e+08,10149034.0,0.0,Floating,2023-08-01
1,1,7,2018-08-01,Acquisition,Asset 7,Retail,Pacific,344043.0,NaN,0.836187,1.301782e+08,128965104.0,6.710000e+07,6.710000e+07,2539794.0,0.0,Floating,2025-01-01
2,1,10,2018-09-01,Acquisition,Asset 10,Retail,Southwest,1396241.0,NaN,0.787000,2.145073e+08,213557104.0,1.336410e+08,1.321762e+08,4378131.0,0.0,Floating,2024-10-01
3,1,14,2015-10-01,Acquisition,Asset 14,Industrial,Southwest,1163465.0,NaN,0.962968,2.072358e+08,215770000.0,1.263000e+08,1.220951e+08,21900826.0,0.0,Fixed,2021-03-01
4,2,2,2018-03-01,Acquisition,Asset 2,Office,East North Central,549941.0,NaN,0.840012,2.926980e+08,296183296.0,1.496544e+08,1.435236e+08,7659641.0,0.0,Floating,2023-05-01
5,2,5,2015-05-01,Takeover,Asset 5,Multifamily,Mideast,786912.0,194.0,0.850000,1.661401e+08,179367008.0,8.510756e+07,8.325739e+07,18270897.0,0.0,Floating,2020-08-01
6,2,8,2015-12-01,Acquisition,Asset 8,Retail,Southeast,786989.0,NaN,0.787000,1.569685e+08,161247392.0,9.110000e+07,9.085473e+07,13025337.0,0.0,Floating,2022-10-01
7,2,11,2017-09-01,Acquisition,Asset 11,Industrial,Pacific,5363645.0,NaN,0.962968,4.352125e+08,442836992.0,2.130975e+08,2.077419e+08,15244745.0,0.0,Floating,2024-03-01
8,2,15,2016-07-01,Acquisition,Asset 15,Industrial,Southeast,604852.0,NaN,0.962968,1.260000e+08,130014000.0,7.110000e+07,6.923362e+07,8152627.0,0.0,Floating,2021-12-01
9,3,1,2015-01-01,Acquisition,Asset 1,Office,Pacific,449881.0,NaN,0.940975,1.148772e+08,117032496.0,6.775066e+07,6.573004e+07,15748830.0,0.0,Floating,2021-01-01
10,3,4,2016-10-01,Takeover,Asset 4,Multifamily,Pacific,910000.0,295.0,0.880000,1.711585e+08,193093104.0,1.057000e+08,1.057000e+08,15324674.0,-553748.0,Floating,2022-04-01
11,3,6,2016-08-01,Acquisition,Asset 6,Multifamily,Northeast,1574510.0,229.0,0.850000,3.586320e+08,472272992.0,2.281000e+08,2.242370e+08,25725145.0,0.0,Floating,2023-02-01
12,3,9,2015-06-01,Acquisition,Asset 9,Retail,East North Central,723261.0,NaN,0.787000,1.416484e+08,150888704.0,9.140000e+07,9.076020e+07,20659929.0,0.0,Floating,2021-04-01
13,3,12,2018-06-01,Acquisition,Asset 12,Industrial,East North Central,1946880.0,NaN,0.962968,3.004710e+08,302996992.0,1.909825e+08,1.880200e+08,6698213.0,0.0,Fixed,2023-08-01
14,3,13,2018-06-01,Acquisition,Asset 13,Industrial,Southeast,903000.0,NaN,0.963000,1.674750e+08,168883008.0,9.493556e+07,9.414222e+07,3177300.0,0.0,Fixed,2024-08-01

In [10]:
test=databyAsset.to_frame()

AttributeError: 'DataFrameGroupBy' object has no attribute 'to_frame'