In [65]:
import sqlalchemy
import pandas as pd
import numpy as np
import datetime
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import json
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://mikelam:12345678@awssample1.cji0zdy5khnh.us-west-2.rds.amazonaws.com:3306/PortSlate')
engine.connect
conn = engine.connect()

sql = f"select * from v_VehicleAssetList where VehicleID=2 and Period='2019-01-31'"

array(['AssetID', 'Cost', 'GAV', 'Index', 'Occupancy', 'UnitNumber',
       'Maturity', 'State', 'Country', 'TransactionDate', 'PropertyType',
       'LoanBalance', 'RateType', 'SquareFeet', 'City', 'Img',
       'IndexSpread', 'PropertyName', 'NAV', 'LTV', 'AssetName',
       'Sqft_Unit', 'InterestRate'], dtype=object)